@use '../base/variable' as var;
@use '../base/mixin' as mix;

.button {
  @include mix.displayFlex(flex, center, center);
  box-sizing: border-box;
  width: 100%;
  max-width: 270px;
  padding: 1em;
  @include mix.adaptivFont(var.$generalBigTextSize, var.$generalBigTextSizeMin);
  color: var.$generalColorText;
  line-height: var.$generalBigLineHeight;
  font-weight: 400;
  background: var.$accentColorTwo;
  border-radius: 5px;
  transition: box-shadow .5s ease-out, transform .5s ease-out, opacity .5s ease-out;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      cursor: pointer;
      box-shadow: 1px 5px 11px -4px rgba(256, 256, 256, 0.3);
      transform: translateY(-2px);
    }
  }
}

.button_accent {
  background-color: var.$accentColorTwo;
  &:hover {
    cursor: pointer;
    box-shadow: 1px 5px 11px -4px rgba(1, 1, 1, 0.3);
    transform: translateY(-2px);
  }
}