@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.main__contact {
  padding: 1.7em 0;
}

.contact {
  color: var.$lightColor;
  background: #000 url('../../assets/images/bg-block.jpg') center center / cover no-repeat;
  @media (any-hover: hover) {
    background-attachment: fixed;
  }

  &__container {
    max-width: 800px;
    margin: 0 auto;
  }

  &__wrapper {
    @include mix.displayFlex(flex, start, start);
    margin: 0 -1em;
    flex-wrap: unset;
  }

  &__title {
    color: var.$lightColor;
    margin-bottom: 1em;
  }

  &__description {
    text-align: center;
    margin-bottom: 1.2em;
  }

  &__contact-block {
    flex: 0 1 50%;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 1em;
  }

  &__contact-description {
    margin-bottom: 15px;
  }

  &__contact-item {
    flex: 0 1 50%;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 1em auto;
    padding: 0 1em;
  }

  &__list {
    @include mix.displayFlex(flex, start, center);
  }

  &__button {
    max-width: 100%;
    margin-bottom: .5em;
  }
}

.contact-item {
  &__list {
    @include mix.displayFlex(flex, center, start);
    height: 100%;
    flex-direction: column;
    gap: 1.5em;
  }

  &__list_contact {
    flex-direction: column;
  }

  &__item {
    @include mix.displayFlex(flex, start, center);
    gap: 1.5em;
    color: var.$lightColor;
  }

  &__image {
    @include mix.displayFlex(flex, center, center);
    width: 3em;
    height: 3em;
    border-radius: 5px;
    transition: transform .3s ease, box-shadow .3s ease;

    &>img {
      width: 50%;
    }

    @media (any-hover: hover) {
      &:hover {
        transform: translateY(-1px);
        box-shadow: 1px 10px 11px -4px rgba(1, 1, 1, 0.6);
      }
    }

    &_phone {
      background-color: var.$accentColor;
    }

    &_vk {
      background-color: #3648FF;
    }

    &_wa {
      background-color: #00FC75;
    }

    &>img {
      max-width: 100%;
    }
  }

  &__label {
    @include mix.adaptivFont(18, 14);
    line-height: 1em;
  }
}
