@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.whyme {
  color: var.$subColorText;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0;
  }

  &__title {
    margin-bottom: 2em;
    color: var.$subColorText;
  }

  &__body {
    padding: 3em 0;
    background: #000000 url('../../assets/images/bg-block.jpg') center center / cover no-repeat fixed;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  &__label {
    position: relative;
    @include mix.displayFlex(flex, center, center);
    background: var.$accentColor;

    &:before,
    &:after {
      @extend %pseudoElement;
      width: 100%;
      max-width: 120px;
      height: 30px;
    }

    &:before {
      top: 15px;
      left: 15px;
      background: url('../../assets/images/icon/points-top.svg') 0 0 / cover no-repeat;
    }

    &:after {
      bottom: 15px;
      right: 15px;
      background: url('../../assets/images/icon/points-botton.svg') 0 0 / cover no-repeat;
    }
  }

  &__label-content {
    width: 80%;
    @include mix.adaptivFont(26, 14);
    line-height: 36px;
    color: var.$generalColorText;
  }

  &__button-wrapper {
    margin-top: 1em;
  }

  &__button {
    margin: 0 auto;
  }
}

.card-whyme {
  padding: 10px;
  @include mix.displayFlex(flex, center, center);
  flex-direction: column;

  @media (any-hover: hover) {
    &:hover {
      animation: jump .5s ease-in-out;
    }
  }

  &__icon-wrapper {
    padding: 10px;
    @include mix.displayFlex(flex, center, center);

    &>img {
      object-fit: cover;
    }
  }

  &__text-block {
    @include mix.displayFlex(flex, center, center);
    height: 100%;
    flex: 1 1 auto;
    padding: 10px;

    &>p {
      text-align: center;
    }
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}



